/PAWS-iOS/PAWS/.DS_Store
/PAWS-iOS/PAWS/PAWS.xcworkspace/xcuserdata/macseansc3.xcuserdatad/UserInterfaceState.xcuserstate
/PAWS-iOS/PAWS/PAWS.xcworkspace/xcuserdata/macseansc3.xcuserdatad/WorkspaceSettings.xcsettings
/PAWS-iOS/PAWS/PAWS.xcodeproj/xcuserdata/macseansc3.xcuserdatad/xcschemes/xcschememanagement.plist
