
# Ignore MacOS temp files
/PAWS-iOS/PAWS/PAWS/.DS_Store
/PAWS-iOS/PAWS/.DS_Store
/PAWS-iOS/.DS_Store
.DS_Store

# Ignore LocalConfig.xcconfig for each user to make their own.
/PAWS-iOS/PAWS/Config/LocalConfig.xcconfig

# Ignore Xcode user data files
**/UserInterfaceState.xcuserstate
*xcuserdatad
*xcuserdata
PAWS.xcodeproj/xcuserdata
PAWS-RaspberryPi/startup/node_modules
PAWS-iOS/PAWS/PAWS.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata
